@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/*────────────────── 
       vaiables
──────────────────*/
:root{
	--main-background: #ffffff;
	--main-fonts-color: #ffffff;
	--main-decor-color:#ffffff;
  --main-header-background:#ffffff;
	--main-font-family: 'Poppins', sans-serif;
}

/*────────────────── 
    body and main
──────────────────*/


/*────────────────── 
       header
──────────────────*/


/*────────────────── 
       nav
──────────────────*/


/*──────────────────
       home
──────────────────*/



/*────────────────── 
  intro section
──────────────────*/



/*──────────────────
      about
──────────────────*/



/*────────────────── 
       footer
──────────────────*/



